@import 'tailwindcss';

@theme {
  --color-primary: #080C2E;
  --color-secondary: #640EF1;
  --color-tertiary: #5D5D7C;

  --font-clash: 'Clash Display', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #f1f4f5;
  color: #080c2e;
}